/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.swal2-confirm {
  background-color: #3085d6 !important; /* azul default */
  color: #fff !important;
}

.swal2-confirm:hover {
  background-color: #2c7cd1 !important; /* azul hover default */
}
